<% provide(:title, 'About') %>
<div class="row">
  <div class="span7 well">
    <h3>Mission Statement</h3>
    <p>It is the mission of Freshly Balanced to creatively combine organic whole foods and spices with ancient Ayurvedic culinary principles into convenient pre-made dishes that support balancing optimum health and busy lifestyles.  My empowering and educational workshops actively gives to individuals the ability to do, feel, and believe in their own culinary skills while building a healthy, nuturing and plentiful life.</p>
  </div>
  <div class="span3" style="float:right; padding-right: 100px">
    <img src="/images/aboutpic.jpg">
  </div>  
  <br>

  <div class="span7 well">
    <h4>A letter from the founder</h4>
    <p>Hello, <br>
    	My name is Deborah Mugherini and I started this venture to support and carry the message of hope and recovery to people as we each play out our own hand in this game of life.  For many many long years I struggled with eating disorders and Crohn’s disease.  Today, I recognize the deeper meaning behind my struggles as a testament of how far away I had been living my life relative to my true self.  I started my road to recovery by experimenting in the kitchen over 10 years ago with organic foods and the results have grown into a passion for creating culinary works of art.  In 2009, shortly after graduating with my MBA, I took a leap of faith and opened a specialty bake shoppe focusing on gourmet cakes and cupcakes.  This first venture lasted a few years and included both wholesale and retail distribution as well as wedding catering.  More recently, as I continue my journey towards finding inner balance, I have been led to the healing principles of Ayurveda.  With the help of Pratibha Shah at <a href="http://www.zanjabee.com/">Zanjabee Integrative Medicine</a>, I have become even more inspired to use nature and organic foods to heal my mental, physical, and spiritual well-being.  As I fulfill my purpose, I am overcome with gratitude for all the wonderful people I have met through the years.  I hope to continue to feed the souls of many more wonderful people to come.  
    	<br> Namaste.</p>
  </div>
</div>