<% provide(:title, 'Workshops') %>

<div class="row">
  <div class="span7 well">
  <div class="workshops">
    <h1>Educational Cooking Workshops</h1>
    <h2>Herbs and Spices</h2>
    <p>Spices have been an integral part of civilization, serving as a preservative, flavoroid, and/or medicine.  This class is designed to empower people to expand their culinary creativity by teaching the art of how to manipulate herbs and spices to evoke flavor. </p>
    <p>Beginning with a fun and interactive taste testing game to learn about the importance of different tastes and sensations in preparing dishes.  Participants will become submersed in their own senses relative to the different herbs and spices often found in Indian cuisine as well as many Eastern and Mediterranean cultures.  Handouts will be provided to help distill the individual properties of each.  We will discuss how to use this information to create different desired tastes as well as the foundation for fixing dishes that have gone spice-array.</p>
    <p>Participants will receive a take-home spice pairing chart designed to assist them when experimenting with how to enhance and balance different flavors in their own dishes.  An exciting game of jeopardy will round out the class and reinforce all information covered.  Prizes will be awarded to the host as well as the participants who win the taste testing and jeopardy games.  The class ends with an optional live demonstration of how to properly dry roast, grind, and store spices to maximize flavor and shelf life. </p>
  </div>
  </div>
  <div class="span3">
  	<img src='/images/workshoppic.jpg'><br /><br />
    <div class="details">
  	  <h4>Details</h4>
  	  <p>Price:<br />
  	    <ul>
  	  	  <li>$50 per person</li>
  	      <li>$60 per person with live demonstraion</li>
  	    </ul><br />
      <p>Each workshop runs for 2 hours, 2.5 hours with a live demontraion.  All live demonstrations require access to a kitchen.  The price includes all spices and herbs used during the demonstarion.</p>
      <p><b>Contact us today to set up your party! And let the fun begin! </b></p>
    </div>
  </div>
</div>
