<h1> Admin View </h1>
<h2><%= @user.name %></h2>
<div class='row'>
  <div class='span3'>
    <a href='#'>Display Users</a><br/>
  	<a href='#'>Edit Menu Items</a><br/>
  	<a href='#'>Order History</a><br />
  	<a href='#'>This Weeks Orders</a>
  </div>
  <div class='span9'>
    <%= render partial: 'shared/post_form', locals: {post: @post} %>
  </div>
</div>