<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        This is going to be the same side bar as on the home page
      </h1>
    </section>
  </aside>
  <h1><%= @user.name %></h1>
</div>