
<div class='span3'>
    <%= link_to "Display Users", users_path %><br/>
    <%= link_to "Create a Post", new_post_path %><br/>
  	<a href='#'>Edit Menu Items</a><br/>
  	<a href='#'>Order History</a><br />
  	<a href='#'>This Weeks Orders</a>
</div>