<li>
  <span class="title"><%= post.title %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <div><br>Posted by <%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago</div>
  </span>
</li>
