<% provide(:title, 'Admin Console') %>
<h3>Admin Console for <%= @user.name %></h3><br>

<div class='row'>
  <%= render 'shared/admin_sidebar' %>
  <div class="span8 well">
  	Welcome to the Administative Console.  Click a link to get started.
  </div>
</div>