<% provide(:title, 'Admin Console') %>
<h1>Admin Console for <%= @user.name %></h1><br>

<div class='row'>
  <%= render 'shared/admin_sidebar' %>
  <div class="span8 well">
  	Welcome to the Administative Console
  </div>
</div>